<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ascore2">

        <provider
            android:name="org.philblandford.ascore2.android.export.ExportContentProvider"
            android:authorities="com.philblandford.ascore2.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            />
    </application>

</manifest>